<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expendit</title>
</head>
<body>
    <h1>'<%= listname %>' List Saved Successfully</h1>

    <form method="post" action="/setreminder">
        <input type="hidden" name="listname" value="<%= listname %>">
        <button type="submit">Set Reminder</button>
    </form>
    <!-- View List -->
    <form method="GET" action="/viewsaved">
        <input type="hidden" name="listname" value="<%= listname %>">
        <button type="submit">View List</button>
    </form>

    <!-- Create New List -->
    <form action="/newlist" method="post">
        <button type="submit">Create New List</button>
    </form>

    <!-- Home -->
    <form action="/home" method="GET" style="display:inline;">
        <button type="submit">Home</button>
    </form>
</body>
</html>
